@charset "UTF-8";
@font-face {
  font-family: "Makinas";
  src: url("../fonts/Makinas-4-Square.otf");
}
@font-face {
  font-family: "MadokaPixelicaRegular";
  src: url("../fonts/MadokaPixelicaRegular-GOdrA.ttf");
}
body {
  margin: 0;
  font-family: "Makinas";
  background: #123752;
}
body .second_section {
  padding: 100px 50px;
  background: #123752;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .second_section .portal_div,
body .second_section .door_div {
  margin: 20px 0;
  text-align: center;
}
body .second_section .portal_div .portal_img,
body .second_section .door_div .portal_img {
  width: 500px;
}
body .second_section .portal_div .door_img,
body .second_section .door_div .door_img {
  width: 440px;
  height: 240px;
  -o-object-fit: cover;
     object-fit: cover;
}
body .second_section .portal_div p,
body .second_section .door_div p {
  color: white;
  font-size: 30px;
  letter-spacing: 5px;
}

.order_text {
  font-size: 30px;
  text-align: center;
  color: #391E01;
  margin: 100px auto;
  width: 830px;
  line-height: 2;
}

.question_img {
  width: 80vw;
  margin: 50px 10vw;
}

.done_section {
  margin: 200px auto;
  text-align: center;
  color: white;
}
.done_section .first_title {
  font-size: 40px;
  margin-bottom: 100px;
}
.done_section .second_title {
  font-size: 30px;
}

.map_outer_div {
  width: 90vw;
  height: 90vh;
  margin: 5vh 5vw;
  position: relative;
  overflow: hidden;
  border-radius: 2vw;
}
.map_outer_div .map_innner_div {
  width: 200vw;
  position: absolute;
  top: 0;
  left: 0;
  cursor: grab;
}
.map_outer_div .map_innner_div:active {
  cursor: grabbing;
}
.map_outer_div .map_innner_div .map_image {
  width: 100%;
}
.map_outer_div .map_innner_div .towers_div {
  width: 8vw;
  height: 20.9612403101vw;
  background-clip: border-box;
  background-origin: border-box;
  background-position: center;
  background-repeat: no-repeat; /* リピートしない */
  background-size: cover;
  position: absolute;
  z-index: 100;
  transition: all 0.2s;
  cursor: pointer;
}
.map_outer_div .map_innner_div #wind_tower {
  top: 50vw;
  left: 66.6vw;
  background-image: url("../img/towers/wind_tower_img.png");
}
.map_outer_div .map_innner_div #wind_tower:hover {
  background-image: url("../img/towers/wind_tower_hover_img.png");
}
.map_outer_div .map_innner_div #light_tower {
  top: 86.2vw;
  left: 53vw;
  background-image: url("../img/towers/light_tower_img.png");
}
.map_outer_div .map_innner_div #light_tower:hover {
  background-image: url("../img/towers/light_tower_hover_img.png");
}
.map_outer_div .map_innner_div #fire_tower {
  top: 81vw;
  left: 131vw;
  background-image: url("../img/towers/fire_tower_img.png");
}
.map_outer_div .map_innner_div #fire_tower:hover {
  background-image: url("../img/towers/fire_tower_hover_img.png");
}
.map_outer_div .map_innner_div #earth_tower {
  top: 33vw;
  left: 96vw;
  background-image: url("../img/towers/earth_tower_img.png");
}
.map_outer_div .map_innner_div #earth_tower:hover {
  background-image: url("../img/towers/earth_tower_hover_img.png");
}
.map_outer_div .map_innner_div #shadow_tower {
  top: 23.6vw;
  left: 134vw;
  background-image: url("../img/towers/shadow_tower_img.png");
}
.map_outer_div .map_innner_div #shadow_tower:hover {
  background-image: url("../img/towers/shadow_tower_hover_img.png");
}
.map_outer_div .map_innner_div #water_tower {
  top: 110vw;
  left: 86vw;
  background-image: url("../img/towers/water_tower_img.png");
}
.map_outer_div .map_innner_div #water_tower:hover {
  background-image: url("../img/towers/water_tower_hover_img.png");
}/*# sourceMappingURL=style.css.map */