body{
    background-clip: border-box;
    background-origin: border-box;
    background-position: center;
    background-repeat: no-repeat; /* リピートしない */
    background-size: cover;  
    text-align: center;
}

// tower
.tower_outer_div {
    width: 85vw;
    backdrop-filter: blur(18px);
    min-height: 60vh;
    padding: 100px 0;
    background-color: rgba(255, 255, 255, 0.384);
    margin: 10vh auto;
    border-radius: 42px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    .back_button_div{
        position: absolute;
        top: 50%;
        left: 50px;
        .back_button_image{
            width: 40px;
        }
    }
    .inner_divs{
        padding: 20px 100px;
        text-align: left;
        a{
            text-decoration: none;
        }
    }
    .left_div{
        .tower_title_image{
            width: 100%;
            max-width: 300px;
        }
        .dics_text_tower {
            font-family: 'MadokaPixelicaRegular';
            font-size: 16px;
            width: 320px;
            line-height: 2;
            text-align: left;
            color: #391E01;
        }
    }
    .right_div{
        .button_label{
            margin: 100px 0px 20px;
            font-size: 20px;
            line-height: 1;
            color: #391E01;
        }
        .tower_buttons {
            width: min-content;
            backdrop-filter: blur(12px);
            background-color: rgba(255, 255, 255, 0.384);
            box-shadow: 3px 3px 14px 0px #0000002b;
            display: flex;
            border-radius: 10px;
            align-items: center;
            transition: all .3s;
            cursor: pointer;
            &:hover{
                background-color: rgba(255, 255, 255, 0.184);
                box-shadow: 3px 3px 14px 0px #00000000;
            }
            .button_text{
                margin: 0 50px;
                font-size: 20px;
                line-height: 1;
                color: #391E01;
                width: max-content;
            }
            .button_daikei {
                display: inline-block;
                font-size: 16px;
                padding: .8em 1.6em .4em .8em;
                position: relative;
                color: #fff;
                z-index: 1;
               
                &::before{
                    content: "";
                    position: absolute;
                    border-radius: 0 10px 10px 0;
                    top: -8;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    z-index: -1;
                    background: #B04A43;
                    transform: scaleY(1.3) perspective(.6em) rotateX(5deg);
                    transform-origin: bottom right;
                }
                .arraw_image{
                    padding: 0 0 0px 20px;
                    width: 50px;
                }
            }
        }
        
    }
}

.question_img{
    width: 80vw;
    margin: 100px auto;
}